@import url("https://fonts.googleapis.com/css?family=Poppins:400, 500, 600");

.background {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  color: black;
}

.background.active{
  
  /*margin-left: 250px;*/
  background-color: white;
  
}

.navbar {
  /*background-color: #1893ff;*/
  background-color: #fbd604;
  height: 80px;
  width: 100%;
  display: flex;
  /*justify-content: end;*/
  align-items: center;
  font-size: 30px;
  font-family: lato;
}

.signed-in{
  justify-content: end;
  
}

.menu-bars{
  margin-left: 2rem;
  font-size: 30px;
  justify-content: start;
  background: none;
}

.nav-menu{
  width: 250px;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  gap: 29px; 
  justify-content: flex-end; 
}

.rectangle-5224 {
  background-color: black;
  border: 1px none;
  height: 100vh;
  margin-top: 0;
  width: 6px;
}

.nav-menu.active{
  
  left: 0;
  /*transition: 350ms;*/
  border: 2px none;
  background-color: white;
  position: absolute;
  z-index: 1;
  /*float: left;*/
  
}

.nav-text{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;

}

.nav-text a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;

}

.nav-text a:hover{
  background-color:  #1893ff;
}

.nav-menu-items{
  width: 100%;
}

.navbar-toggle{
  background-color: #fbd604;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span{
  margin-left: 25px;
}

.map-container{
  margin-top: 70px;
  width: 100hv;
  height: 70vh;
  margin-top: 50px; 
  /*align-self: flex-end;*/
  
}

/* figma*/

.main-screen {
  align-items: flex-start; 
  display: flex; 
  flex-direction: column; 
  margin-top: 37.03px; 
  min-height: 1379px; 
  width: 65%;
}

.mobile-screen {
  align-items: flex-start; 
  display: flex; 
  flex-direction: column; 
  margin-top: 37.03px; 
  min-height: 1379px; 
  width: 95%;
}

.map-of-hives { 
 
  flex-direction: column; 
  /*gap: 390px;*/ 
  margin-right: 200px; 
  min-height: 600px; 
  width: 100%;
  left: 150px;

}

.title {
  letter-spacing: 0; 
  min-height: 37px; 
  width: 100hv;
}

.information-2 {
  align-items: flex-start; 
  display: flex; 
  flex-direction: column; 
  /*gap: 28px; */
  /*margin-left: 3.52px; */
  margin-top: 50px; 
  min-height: 70px; 
  padding: 1.1px 0.1px;
  width: 100%;
}
.information-3, 
.place-2 {
  letter-spacing: 0; 
  min-height: 30px; 
  width: 345px;
}

.lorem-ipsum-dolor-si { 
  margin-top: 50px; 
  align-self: flex-end;
  letter-spacing: 0; 
  margin-right: 4.82px;
  min-height: 293px; 
  width: 100%;
}

.contact-1 {
  align-items: flex-end; 
  display: flex; 
  height: 379px; 
  justify-content: flex-end;
  margin-top: 50px; 
  min-width: 100vh; 
  position: relative; 

}

.contact2 {
  align-items: flex-end; 
  display: flex; 
  flex-direction: column; 
  margin-bottom: 0; 
  margin-left: 106px; 
  min-height: 272px; 
  width: 165px;
}

.ellipse-503 {
  margin-top: 50px; 
  border: 1px none; 
  border-radius: 81.43px/120.5px; 
  height: 350px; 
  /*margin-right: 2.15px; */
  width: 1000px;
}

.meno-priezvisko {
  margin-top: 50px; 
  letter-spacing: 0; 
  margin-right: 2px; 
  min-height: 31px;
  width: 153px;
}

.contact1 {
  height: 272px; 
  margin-right: 37.73px; 
  position: relative; 
  width: 165px;
}

.ellipse-503-1 { 
  background-color: var(--cultured-pearl); 
  border: 1px none; 
  border-radius: 81.43px/120.5px; 
  height: 241px; left: 0; 
  position: absolute; 
  top: 0; width: 163px;
}

.meno-priezvisko-1 {
  left: 10px; 
  letter-spacing: 0; 
  position: absolute; 
  top: 241px;
  width: 153px;
}