@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 'Lato', sans-serif;
}

.Menu{
    display: flex;
    height: 90hv;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
/* tu mi chyba cast kde sa udávaju aj mena stranok ktore este nemam cca 30 min videa */